version: 2.1

jobs:
  build_and_push:
    docker:
      - image: cimg/node:20.3.1
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and Push Docker Image
          command: |
            VERSION="build-${CIRCLE_BUILD_NUM}"
            echo "Building image version: ${VERSION}"

            docker build -f AppCode/Dockerfile \
              -t yashyb11/to-do-app:${VERSION} AppCode

            echo "${DOCKER_PASSWORD}" | docker login \
              -u "${DOCKER_USERNAME}" --password-stdin

            docker push yashyb11/to-do-app:${VERSION}

  update_manifest:
    docker:
      - image: cimg/base:2023.06
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Update Kubernetes Manifest
          command: |
            TAG="build-${CIRCLE_BUILD_NUM}"

            git config --global user.email "yashbaile19@gmail.com"
            git config --global user.name "yashbaileyb"

            cd kube_manifest
            pwd

            echo "Updating manifest with tag: ${TAG}"
        
            sed -i "s/build-.*/${TAG}/g" manifest/deployment.yaml
            cat manifest/deployment.yaml
            git checkout deployment
            git add manifest/deployment.yaml
            git commit -m "Update image tag to ${TAG}"
            git config credential.helper 'cache --timeout=120'
            git push origin deployment https://${GITHUB_PERSONAL_TOKEN}@github.com/yashbaileyb/Dockerized-ToDo-App.git main

workflows:
  GitOpsflow:
    jobs:
      - build_and_push:
          filters:
            branches:
              only:
                - main

      - update_manifest:
          requires:
            - build_and_push
          filters:
            branches:
              only:
                - main